{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Home" %} {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">
                        {% trans "Web Scrapping" %}
                    </h3>

                    <span class="mb-0 text-muted">
                        {% trans "Add URLS Here" %}
                    </span>

                    <br />
                    <br />
                    
                    <form method="post" class="home" role="form">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <textarea class="form-control" placeholder="Put URLs Here ...." rows="10"></textarea>
                            
                        </div>
                        
                        <div class="input-group mb-4">
                            <!-- <input type="text" class="form-control" placeholder=""> -->
                            
                        </div>
                        
                        <div class="form-group text-left">
                            <!-- <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> {% trans "Save Details" %}</label>
                            </div> -->
                        </div>
                        <button type="submit" class="btn btn-primary shadow-2 mb-4">
                            {% trans "Submit" %}</button>

                    </form>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block javascripts %}
<script>
    $(document).ready(function(){
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            }
        });

        $(document).on("submit", ".home", function (e) {
        
            $.ajax({
                type: "POST",
                url: '{% url "home" %}',
                data: {
                    'any': ''
                },
                success: function (data) {
                    // const acc = data.error;
                    
                    $(function() {
                        var Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: true,
                            timer: 50000
                        });
                        toastr.error(data['error']);
                        toastr.success(data['msg']);
                        // if (data['type'] == 'error'){
                        //     // console.log(data['type'])
                        //     toastr.error(data['error']);
                        // } else if (data['type'] == 'success') {
                        //     toastr.success(data['error']);
                            
                        // } else if (data['type'] == 'info') {
                        //     toastr.info(data['error']);
                        // }
                    });
                },
                error: function () {
                    console.log("ERROR with ajax request in home page !!!");
                }
            });
            e.preventDefault();
        });


    });
    

</script>

{% endblock javascripts %}
